body {
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  image-rendering: pixelated;
  border: 4px solid black;
  width: 960px;   /* 3x scale */
  height: 540px;
}
